<a href="https://colab.research.google.com/github/Jabed-Hasan/python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Full Name

In [1]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
full_name = first_name + " " + last_name
print("Full name is:", full_name)

Enter your first name: Jabed
Enter your last name: Hasan
Full name is: Jabed Hasan

Accept an integer `n` and compute the value of n + nn + nnn.

In [2]:
n = input("Enter a number: ")
result = int(n) + int(n*2) + int(n*3)
print("Result:", result)

Enter a number: 5
Result: 615

Area of Circle

In [3]:
radius = float(input("Enter radius of the circle: "))
area = 3.1416 * radius * radius
print("Area of the circle is:", area)

Enter radius of the circle: 4
Area of the circle is: 50.2656

Check if Number is Even or Odd

In [4]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter a number: 5
The number is Odd

Create List from Comma-Separated Input

In [5]:
items = input("Enter comma-separated numbers: ")
item_list = items.split(",")
print("List:", item_list)

Enter comma-separated numbers: 1,2,3,4
List: ['1', '2', '3', '4']

Display First and Last Color

In [6]:
colorList = ["Red", "Green", "White", "Black"]
print("First color:", colorList[0])
print("Last color:", colorList[-1])

First color: Red
Last color: Black

Largest Among Three Numbers

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 60
Enter second number: 40
Enter third number: 90
Largest number is: 90

Student Grading System

In [8]:
marks = int(input("Enter your marks: "))

if marks >= 80:
    grade = 'A+'
elif marks >= 70:
    grade = 'A'
elif marks >= 60:
    grade = 'B'
elif marks >= 50:
    grade = 'C'
else:
    grade = 'F'

print("Your grade is:", grade)

Enter your marks: 60
Your grade is: B

Sum of 3 numbers. If all are equal, return 3Ã—sum.

In [10]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

sum_val = a + b + c
if a == b == c:
    sum_val = sum_val * 3

print("Result:", sum_val)

Enter first number: 3
Enter second number: 3
Enter third number: 2
Result: 8

Sum of Odd and Even Numbers

In [12]:
numbers = input("Enter comma-separated numbers: ")
num_list = [int(x) for x in numbers.split(",")]

even_sum = sum(num for num in num_list if num % 2 == 0)
odd_sum = sum(num for num in num_list if num % 2 != 0)

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Enter comma-separated numbers: 1,3,4,5
Sum of even numbers: 4
Sum of odd numbers: 9

Check Validity of Triangle

In [13]:
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))
c = float(input("Enter third side: "))

if a + b > c and a + c > b and b + c > a:
    print("Triangle is valid")
else:
    print("Triangle is not valid")

Enter first side: 4
Enter second side: 5
Enter third side: 2
Triangle is valid

Sum of Odd and Even Numbers (For Loop)

In [14]:
numbers = input("Enter comma-separated numbers: ")
nums = [int(x) for x in numbers.split(",")]
even_sum = sum(num for num in nums if num % 2 == 0)
odd_sum = sum(num for num in nums if num % 2 != 0)
print("Even Sum:", even_sum)
print("Odd Sum:", odd_sum)

Enter comma-separated numbers: 1,2,3,4
Even Sum: 6
Odd Sum: 4

Smallest Number

In [15]:
numbers = input("Enter comma-separated numbers: ")
nums = [int(x) for x in numbers.split(",")]
print("Smallest number is:", min(nums))

Enter comma-separated numbers: 1,2
Smallest number is: 1

Sum of Numbers Divisible by 3 but not 5


*   Write a Python program to find the sum of all numbers between 50 and 100 that are divisible by 3 and not divisible by 5.

In [16]:
total = sum(x for x in range(50, 101) if x % 3 == 0 and x % 5 != 0)
print("Sum is:", total)

Sum is: 1050

Write a Python program to find the second highest number from a set of numbers.

In [18]:
numbers = input("Enter comma-separated numbers: ")
nums = sorted(set(int(x) for x in numbers.split(",")), reverse=True)
print("Second highest number is:", nums[1])

Enter comma-separated numbers: 5,9,4,10
Second highest number is: 9

Write a Python program to find the factorial of a number using for loop.

In [19]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial is:", fact)

Enter a number: 5
Factorial is: 120

Write a Python program to generate Fibonacci series.

In [20]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
0 1 1 2 3

Write a Python program to find the largest number between two numbers using a function.

In [21]:
def largest(a, b):
    return a if a > b else b

print("Largest is:", largest(4, 7))

Largest is: 7

Write a Python program to find the sum of the numbers passed as parameters.

In [22]:
def total(*args):
    return sum(args)

print("Sum is:", total(1, 2, 3, 4))

Sum is: 10

Define a Python function student(). Using function attributes display the names of all arguments.

In [23]:

def student(name, id, dept):
    pass

student.__code__.co_varnames

('name', 'id', 'dept')

Write a function studentId() to print ID. If arguments are passed, show name and class too.

In [25]:

def studentId(**kwargs):
    if 'id' in kwargs:
        print("ID:", kwargs['id'])
    if 'name' in kwargs and 'cls' in kwargs:
        print("Name:", kwargs['name'])
        print("Class:", kwargs['cls'])

studentId(id=101)
studentId(id=102, name="Jabed", cls="14")

ID: 101
ID: 102
Name: Jabed
Class: 14